.branch-nav {
  background-color: #27AE60;
  height: 80px;
}
.main-nav {
  margin-top: 20px;
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.main-nav li a:active,
.main-nav li a:hover {
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.search-bar {
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px;
}

.search-text {
  padding: 8px 0;
  color: #fff;
  margin-left: 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;

}

.search-text:active,
.search-text:hover {
  cursor: pointer;
  border-bottom: 2px solid #fff;
}

.brand-text {
  padding: 8px 0;
  font-size: 150%;
  color:#fff;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;

}

.brand-text:hover,
.brand-text:active{
 cursor: pointer;
 border-bottom: 2px solid #fff;
}
