<div>
  <h1>What do you want to sell?</h1>
  <form>
    <div>
      Title: <input type="text" ng-model="sell.name">
    </div>
    <div>
      Email: <input type="email" ng-model="signup.registrationForm.email">
    </div>
    <div>
      Password: <input type="password" ng-model="signup.registrationForm.password">
    </div>
    <div>
      Password: <input type="password" ng-model="signup.registrationForm.password_confirmation">
    </div>
    <div>
      Date of Birth: <input type="date" ng-model="signup.registrationForm.dateOfBirth">
    </div>
    <button ng-click="signup.attemptSignUp()">Sign Up</button>
  </form>
</div>
