<acme-navbar creation-date="main.creationDate"></acme-navbar>
<div class="row page-content">
  <div class="card card-form">
    <h2 class="card-title">Login</h2>
  <form>
    <div>
      <h4 class="form-label">Email</h4>
       <input type="email" ng-model="login.loginForm.email">
    </div>
    <div>
      <h4 class="form-label">Password</h4>
       <input type="password" ng-model="login.loginForm.password">
    </div>
    <button class="btn btn-full" ng-click="login.attemptLogin()">Log In</button>
  </form>
</div>
</div>
