.header {
  background-image:  url(/assets/images/cover.svg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.header1 {
  background-image:  url(/assets/images/main1.svg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #000;
}

.header2 {
  background-image:  url(/assets/images/main2.svg);
  background-position: 50%;
  background-size: cover;
  height: 100vh;
  color: #fff;
  padding-top: 60px;
}

.splash-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.logo {
  height: 100px;
  margin-top: 15px;
  width: auto;
  float: left;
}
.landing-nav {
  height: 120px;
}
.landing-nav-ul {
  margin-top: 50px;
  float: right;
  list-style: none;
}

.landing-nav-ul li {
  display: inline-block;
  margin-left: 40px;
}

.landing-nav-ul li a:link,
.landing-nav-ul li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.landing-nav-ul li a:active,
.landing-nav-ul li a:hover {
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 75px;
}

.brand-text-splash {
  position: absolute;
  transform: translateY(50%);
  padding: 8px 0;
  font-family: 'Pacifico', cursive;
  font-size: 150%;
  color:#fff;
}

.header3 {
  width: 600px;
  margin:0 auto;
}
