<acme-navbar creation-date="main.creationDate"></acme-navbar>
<div class="row main-page-content">
<div class="card item-list">
  <h1 class="page-title">Recently posted items</h1>
  <div class="item-container">
    <div class="col span-1-of-4 item-single" ng-repeat="artifact in main.artifacts">
      <div class="flip-container" ng-click="main.goToArtifact(artifact.id)" ontouchstart="this.classList.toggle('hover');">
      	<div class="flipper">
      		<div class="front">
            <div>
              <img class="item-image" src="http://lorempixel.com/150/150/cats/">
            </div>
            <div class="item-name">
              {{artifact.name}}
            </div>
      		</div>
      		<div class="back card item-card">
      			<p>
              Condition: {{artifact.condition}}
            </p>
            <p>
              Cause: {{artifact.cause.name}}
            </p>
            <p>
              Current highest: <!--come back to this -->
            </p>
      		</div>
      	</div>
      </div>
      </div>
    </div>
  </div>
</div>
